/**at runtime
* This css file defines the styles of the card game
* @author Robert Witteck &lt;robert.witteck@stud.uni-hannover.de&gt;
* @Version   : Robert Witteck
* based on https://github.com/carldea/jfx9be/tree/1f13ee7aabc761b5e3bc3da3ce5625cfb2f106c2
*
*/

.root {
    -dark: #173069;
    -standard: #2854b8;
    -bright: #2757c4;
    -brightopac: #2757c4dd;
    -text-color: #ffffff;
    -highlight-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
    -fx-background-size: 100%;
    -fx-background-repeat: repeat;
    -fx-background-image: url("../textures/board/muster1.png");
    -fx-background: #34383B;
    -fx-base: -standard;
    -fx-font-size: 13px;
    -fx-font-weight: lighter;
    -fx-selection-bar: -standard;
    -fx-selection-bar-non-focused: derive(-standard, 20%);
}

.pane{
    -fx-background-color: #b5b5b580;
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 10;
}


.labelHead {
    -fx-text-fill: -text-color;
    -fx-fill: -text-color;
    -fx-background-color: -brightopac;
    -fx-padding: 10 15 10 15;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: -text-color;
    -fx-fill: -text-color;
    -fx-background-color: -brightopac;
    -fx-padding: 1 2 1 2;
    -fx-background-radius: 3;
}

.button {
    -fx-text-fill: -text-color;
    -fx-background-color: #000000, linear-gradient(-dark, -bright), linear-gradient(-dark, -bright), linear-gradient(-bright, -dark);
    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-radius: 3, 2, 2, 2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-outer-border: linear-gradient(to bottom, derive(-standard, 30%) 0%, derive(-standard, -30%) 100%);
    -fx-inner-border: derive(-bright, 10%);
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-background-insets: 0, 0, 0, 1 0 0 0;
    -fx-font-style: normal;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 2, 0, -2, 2);
    -fx-pref-height: -1;
}

.button:pressed {
    -fx-body-color: -dark;
    -fx-background-color: -dark;
    -fx-inner-border: derive(-standard, 10%);
}

.check-box>.box {
    -fx-background-radius: 0;
    -fx-background-color: -bright, -fx-background;
    -fx-background-insets: 0, 2;
    -fx-pref-width: 21;
    -fx-pref-height: 21;
}


.check-box>.box>.mark {
    -fx-mark-highlight-color: -bright;
    -fx-mark-color: -bright;
    -fx-scale-shape: false;
    -fx-shape: "M 4.023 10.8633 L 4.0259 10.9843 L 11.9863 2.9926 L 10.1048 -0.014 L 4.0049 7.9774 L 1.3589 5.9741 L -0.0884 8.0153 L 4.023 10.8633 Z";
    -fx-pref-width: 12px;
    -fx-pref-height: 11px;
}

.slider .track {
    -fx-background-color: -bright;
    -fx-background-radius: 1em;
    -fx-padding: 0.8em;
}

.slider .thumb {
    -fx-background-color: white;
    -fx-scale-shape: false;
    -fx-shape: "M 935 1187 L 943 1187 L 943 1188 L 935 1188 L 935 1187 ZM 935 1185 L 943 1185 L 943 1186 L 935 1186 L 935 1185 ZM 935 1183 L 943 1183 L 943 1184 L 935 1184 L 935 1183 ZM 926 1185.5 C 926 1192.9559 932.0441 1199 939.5 1199 C 946.9559 1199 953 1192.9559 953 1185.5 C 953 1178.0441 946.9559 1172 939.5 1172 C 932.0441 1172 926 1178.0441 926 1185.5 Z";
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 1, 0.0, 0, 1);
}

.slider .thumb:pressed {
    -fx-effect: -highlight-effect;
}

.progress-bar .track {
    -fx-background-color: -dark;

    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.8em;
}

.progress-bar .bar {
    -fx-background-color: -bright;
    //-fx-effect: -highlight-effect;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
    -fx-box-border: -bright;
    -fx-accent: -standard;
}