@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf');
}
* {
    -fx-margin: 0;
    -fx-box-sizing: border-box;
    -fx-font-family: 'Orbitron';
    -fx-text-fill: #FFD3FF;
}
/*StartupScreen*/
#Startup{
    -fx-alignment: center;
    -fx-margin: 0;
    -fx-background-color: linear-gradient(to right top , #B81FA1, #0F042C, #0F042C, #0F042C,#4E34C1);
}

#start {
    -fx-pref-width: 581px;
    -fx-pref-height: 100px;
    -fx-border-radius: 24px;
    -fx-border-width: 6px;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 60px;
    -fx-text-alignment: center;
    -fx-background-color: #0F042C;
    -fx-background-radius: 24px;
    -fx-translate-y: -150px;
    -fx-background-insets: 6px;
    -fx-wrap-text: true;
    -fx-effect: innershadow(gaussian, #FFD3FF, 15, 0,1,1);
}

#start .text{
    -fx-effect:
            dropshadow(gaussian, #60239F, 3, 1, -1, -1), /* Top-left shadow */
            dropshadow(gaussian, #60239F, 3, 1, 1, -1),  /* Top-right shadow */
            dropshadow(gaussian, #60239F, 3, 1, -1, 1),  /* Bottom-left shadow */
            dropshadow(gaussian, #60239F, 3, 1, 1, 1);   /* Bottom-right shadow */
}

#logo {
    -fx-pref-width: 470px;
    -fx-pref-height: 435px;
    -fx-background-image: url('../textures/logo.png');
}

/*QuitGameScreen*/
#QuitGameBox{
    -fx-min-width: 581px;
    -fx-min-height: 100px;
    -fx-margin: 0;
    -fx-background-color: #0F042C;
}

#quitGame {
    -fx-padding: 50px;
    -fx-width: 100px;
    -fx-height: 200px;
    -fx-min-width: 400px;
    -fx-min-height: 300px;
    -fx-border-radius: 30px;
    -fx-border-width: 6px;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 40px;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-background-color: #000000;
    -fx-background-radius: 24px;
    -fx-effect:
            dropshadow(gaussian, #FFD3FF, 13, 0, -1, -1), /* Top-left shadow */
            dropshadow(gaussian, #FFD3FF, 13, 0, 1, -1),  /* Top-right shadow */
            dropshadow(gaussian, #FFD3FF, 13, 0, -1, 1),  /* Bottom-left shadow */
            dropshadow(gaussian, #FFD3FF, 13, 0, 1, 1);   /* Bottom-right shadow */
}

Button {
    -fx-min-width: 446px;
    -fx-min-height: 82px;
    -fx-margin: 100px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: #0F042C;
    -fx-effect: innershadow(gaussian, #FFD3FF, 15, 0,1,1);
}

#corner1{
    -fx-translate-y: 50px;
    -fx-translate-x: 50px;
    -fx-rotate: 180deg;
}
#corner2{
    -fx-translate-y: -50px;
    -fx-translate-x: -50px;
}
